AddDefaultCharset utf-8
Options -Indexes +FollowSymLinks
DirectoryIndex index.php
IndexIgnore */*
 
<IfModule mod_rewrite.c>
    RewriteEngine On
	RewriteBase /
	
    RewriteCond %{REQUEST_URI} ^/(admin)
    RewriteRule ^admin/assets/(.*)$ backend/web/assets/$1 [L]
    RewriteRule ^admin/img/(.*)$ backend/web/img/$1 [L]
    RewriteRule ^admin/css/(.*)$ backend/web/css/$1 [L]
    RewriteRule ^admin/js/(.*)$ backend/web/js/$1 [L]

    RewriteRule ^gii/ index.php?r=gii [QSA,L]
    
    RewriteCond %{REQUEST_URI} !^/backend/web/(assets|css|js|img)/
    RewriteCond %{REQUEST_URI} ^/(admin)
    RewriteRule ^.*$ backend/web/index.php [L]

    RewriteCond %{REQUEST_URI} ^/(assets|css|js|img)
    RewriteRule ^assets/(.*)$ frontend/web/assets/$1 [L]
    RewriteRule ^css/(.*)$ frontend/web/css/$1 [L]
    RewriteRule ^js/(.*)$ frontend/web/js/$1 [L]
    RewriteRule ^img/(.*)$ frontend/web/img/$1 [L]
    RewriteRule ^(.*)$ frontend/web/$1 [L]
    
    RewriteRule ^gii/ index.php?r=gii [QSA,L]

    RewriteCond %{REQUEST_URI} !^/(frontend|backend)/web/(assets|css|js|img)/
    RewriteCond %{REQUEST_URI} !index.php
    RewriteCond %{REQUEST_FILENAME} !-f [OR]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^.*$ frontend/web/index.php
</IfModule>