[mysqld]
default-authentication-plugin=mysql_native_password
default_storage_engine=InnoDB
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
init-connect=SET NAMES utf8
innodb_use_native_aio=0
innodb_flush_method=O_DSYNC
innodb_log_file_size=256M
innodb_buffer_pool_size=3GB
log_error=/var/log/mysql/mysql_error.log
general_log_file=/var/log/mysql/mysql.log
general_log=1
slow_query_log=1
slow_query_log_file=/var/log/mysql/mysql_slow.log
long_query_time=2
log_queries_not_using_indexes = 1
max_allowed_packet=32M
bulk_insert_buffer_size=20M
wait_timeout=600


