.tree {
    min-height: 20px !important;
    padding: 10px !important;
    padding-top: 0px !important;
    background: #ffffff !important;
}
.tree ul {
    margin-left: -18px !important;
}
.tree li {
    position: relative;
    list-style-type:none !important;
    margin: 0 !important;
    padding: 8px 8px 0px 0px !important;
    position: relative !important;
 
}
.tree li::before, .tree li::after {
    content:'' !important;
    left: -10px !important;
    position: absolute !important;
    right: auto !important;
}
.tree li::before {
    border-left:1px dotted #999 !important;
    height: 100% !important;
    top: 0 !important;
    width: 1px !important;
}
.tree li::after {
    border-bottom: 1px dotted #999 !important;
    height: 14px !important;
    top: 7px !important;
    width: 10px !important;
}
.tree > li:first-child:before, .tree > li:first-child:after {
    border: none !important;
}
.tree li a {
    display: inline-block !important;    
    padding-left: 4px !important;
    padding-right: 6px !important;
    padding-top: 1px !important;
    padding-bottom: 2px !important;
    text-decoration: none !important;
    line-height: 24px !important;
    height: 24px !important;
    text-decoration: none !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -o-border-radius: 3px !important;
    border-radius: 3px !important;
}
.over {
  border: 2px dashed #000 !important;
}

.tree li a.ui-draggable-dragging.error:after {
    position: absolute;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    padding: 0;
    padding-left: 12px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e014";
    color: red;
}
.tree li a.ui-draggable-dragging.ok:after {
    position: absolute;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    padding: 0;
    padding-left: 12px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e013";
    color: green;
}

.placeholder {
    border: 1px dashed #666;
    background: #BFB !important;
    content: 'Place here...';
    line-height: 24px !important;
    height: 24px !important;
    width: 50% !important;
}
/*
.ui-sortable-helper {
	background-color: #BFB;
	border: 1px dashed #666;
	height: 58px;
	margin-bottom: 5px;  
}*/

.tree li a span {
    display: inline-block !important;
    padding: 2px 2px !important;
    text-decoration: none !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -o-border-radius: 3px !important;
    border-radius: 3px !important;

}
.tree li a span.glyphicon {
    margin-right: 2px !important;
    top: 1px !important;
    color: #444444 !important;
}
.tree li.parent_li>a {
    cursor: pointer !important;
}
.tree>ul>li::before, .tree>ul>li::after {
    border: 0 !important;
}
.tree li:last-child::before {
    height: 20px !important;
}
.tree li > a:hover {
    background: #f4f4f4 !important;
    color: #343434 !important;
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    -o-border-radius: 6px !important;
    border-radius: 6px !important;
}
.tree li a.flying {
    position: fixed !important;
    opacity: 0.6 !important;    
}